@import url(https://fonts.googleapis.com/css?family=Lato:900);



.body {
margin:0;  
}

#red{ 
  border-top: solid #AA4FF4;
  border-width: 15px;
  background: #2E2E2E; 
  bottom:0; 
  height:100%;
  width:100%; 
  height:180px; 
}

.footer-title {
  color: #424242;
  font-family: Lato;
  font-size: 60px;
  text-align: center;
  margin-top: 50px;
}

.footer-text {
  color: #424242;
  font-family: Lato;
  font-size: 20px;
  text-align: center;
  margin-top: -50px;
}

#page-footer {
  display: none !important;
}